services:
  _defaults:
    public: true

  prestashop.module.ciklik.module:
    class: Ciklik
    factory: ['Module', 'getInstanceByName']
    arguments:
      - "ciklik"

  prestashop.module.ciklik.context:
    class: Context
    factory: ['Context', 'getContext']

  #####################
  # PrestaShop Account
  prestashop.module.ciklik.ps_accounts_installer:
    class: 'PrestaShop\PsAccountsInstaller\Installer\Installer'
    public: true
    arguments:
      - "5.0"

  prestashop.module.ciklik.ps_accounts_facade:
    class: 'PrestaShop\PsAccountsInstaller\Installer\Facade\PsAccounts'
    arguments:
      - '@prestashop.module.ciklik.ps_accounts_installer'
